<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.epogue.safari.zootool</string>
			<key>Team Identifier</key>
			<string>XTER2ZE4ZT</string>
			<key>CFBundleVersion</key>
			<string>21</string>
			<key>CFBundleShortVersionString</key>
			<string>0.21</string>
			<key>URL</key>
			<string>http://epogue.s3.amazonaws.com/Zootool.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
